/* Global Stuff */

body{
    background-color: #D80C18 ;
    margin:0;
    padding:0;
    font-family: "Yu Gothic", sans-serif;
    /*line-height: 180%;*/
    font-size: 16px;
    color: #444;
    -webkit-text-size-adjust: 100%;
}
.content{
    right:0;
    background-color: white ;

    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    -ms-transition: transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
}
.opennedContent{
    right:300px;
}
.lightBox:hover{
    cursor: pointer;
}
#light-box{
    position:fixed;
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    color:#fff;
    z-index:5000;
}
#light-box img{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.lightgray{
    padding:0 150px 78px;
    background-color: #F5F5F5;
}
.padding-big{
    padding:0 150px;
}
.padding-small{
    padding:0 85px;
}
.left{
    float:left;
}
.right{
    float:right;
}
#toTop {
    height:50px;
    width:50px;
    display: none;
    position: fixed;
    bottom: 126px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}
#toTop img{
    height:50px;
    width:50px;
}
#toTop:after{
    content: "";
    display: table;
    clear: both;
}

/* Header */

#header{
    z-index: 20;
    top:0;
    left:0;
    right:0;
    position: fixed ;
    height: 90px;
    color:white;
    background: #D80C18;

    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -ms-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
}
#header:after{
    content: "";
    display: table;
    clear: both;
}
#logo{
    width:25%;
    vertical-align: middle;
    position: relative;
    top:50%;
    transform: translate(0, -50%);
    padding:-6px 0 ;
}
#logo p{
    margin-bottom: -11px;
}
#logo h1{
    font-size: 20px;
}
#logo img:hover{
    cursor: pointer;
}
#nav ul{
    padding-left: 0;
    list-style-type: none;
}
#nav li {
    font-weight:bold;
    font-size: 15px;
    display: inline-block;
}
#nav li:last-child{
    margin-right:0;
    font-size:12px;
    width:130px;
    padding:3px 10px;
    color:#D80C18 ;
    background-color:white;
    border-radius: 15px;
    text-align: center;
}
#nav a{
    padding:7px 15px;
    color:white;
    text-decoration: none;
}
#nav a:visited{
    color:white;
    text-decoration: none;
}
#nav a:active{
    background-color:darkred;
    border-radius:15px;
    padding:7px 15px;
}
.locket{
    transform: translate(0,2px);
    height:16px;
    width:16px;
}
.login:hover{
    cursor: pointer;
}
.hamburger{
    margin: 25px 0;
    display: none;
}
.hamburger:hover{
    cursor: pointer;
}
.hamburger img{
    width: 40px;
    height: 30px;
}
.menu{
    width:100%;
    display: block;
    margin:31px 0;
    padding:0;
    vertical-align: middle;
}

/* Side (Slide) Menu - Part of Header */

.helpmenu{
    margin:0;
    position: fixed;
    top:0;
    right:0;
    font-size:20px;
    width:0px;
    z-index: 200;
    height: 100%;
    overflow: hidden;
    padding:0;
    /*text-align: center;*/

    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    -ms-transition: width 0.6s;
    -o-transition: width 0.6s;
    transition: width 0.6s;
}
.helpmenu li {
    padding:0;
    margin:0;
    text-align: left;
    font-weight:bold;
    font-size: 15px;
    display: block;
    width:300px;
    background-color: #d80c18;
}
.helpmenu li div:hover{
    background-color: #c20a15;
}
.helpmenu li div{
    border-bottom:1px solid #3E3A39;
    border-top:1px solid white;
    width:80%;
    padding:0 0;
    margin:0 auto;
    color:white;
    text-decoration: none;
}
.helpmenu li:first-child  div{
    border-top:none;
}
.helpmenu li:last-child  div{
    border-bottom:none;
    height: 300px;
}
.helpmenu li a{
    color:white;
    text-decoration: none;
}
.helpmenu li a:visited{
}
.helpmenu .login{
    color: white;
}
.helpmenu .login img{
    webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.nohover:hover{
    background-color: #D80C18 !important;
}
.hide{
    padding-top:17px !important;
    height:40px;
}

/* Footer */

#footer{
    background-color:#141621;
    color:#fff;
    height: 96px;
    vertical-align: middle;
}
#companyName{
    font-size:16px;
    position: relative;
    top:50%;
    transform: translate(0, -50%);
}
#copyright{
    font-size:12px;
    position: relative;
    top:50%;
    transform: translate(0, -50%);
}