
@media only screen and (max-width: 1260px)and (min-width: 880px){
    #mainImage{
        position: relative;
        margin:130px auto 45px;
        width:100%;
        height:600px;
    }

    .padding-big{
        padding: 0 80px;
    }
    .padding-small{
        padding:0 50px;
    }
    #header{
        text-align: center;
        height:130px;
        overflow:hidden;
    }
    #logo{
        display:block;
        margin:0 auto;
        float:none;
        height:80px;
    }
    #logo img{
       width: 100%;
    }
    #nav{
        margin-top:-30px;
        height: 50px;
        display:block;
        float:none;
    }

    #newsdiv{
        width:80%;
        padding-left:11%;
    }

    #newsImages{
        display:none;
    }

    .displays{
        width:45%;
    }
    #map{
        width:80%;
        margin:0 auto;
        padding:0;
    }
}

@media only screen and (max-width: 880px) and (min-width: 731px){
    .padding-big{
        padding: 0 80px;
    }
    .padding-small{
        padding:0 30px;
    }
    #header{
        text-align: center;
        height:130px;
        overflow:hidden;
    }
    .displays{
        width:45%;
    }
    #logo{
        display:block;
        margin:0 auto;
        float:none;
        height:80px;
    }
    #logo img{
        width: 100%;
    }
    #nav{
        margin-top:-30px;
        height: 50px;
        display:block;
        float:none;
    }
    #newsImages{
        display:none;
    }
    #mainImage{
        padding-top:25px;
    }
    #map{
        width:100%;
        margin:0 auto;
    }
    #header{
        height: 140px;
    }
    .padding-big{
        padding:0 30px;
    }
}

@media only screen and (max-width: 730px){
    header{
        height: 90px;
        width: 100%;
    }
    #mainImage{
        position: relative;
        margin:90px auto 45px;
        width:100%;
        height:500px;
    }
    .menu{
        display:none;
    }
    #logo{
        width:35%;
        min-width: 170px;
        vertical-align: middle;
        position: relative;
        top:50%;
        transform: translate(0, -50%);
        padding:-6px 0 ;
    }
    nav{
        margin:0;
        height:90px;
        display:inline-block;
        float:right ;
    }
    .hamburger{
        display:block;
    }

    #slideMenu{
        height: 100%;
        background-color: #D80C18;
    }
    .helpmenu{
        height: 100%;
        backgorund-color:#D80C18 ;
    }
    .openned{
        height:800px;
        width:300px;
        padding:0;
        overflow: hidden;
    }
    .content{
        right:0;
    }
    .opennedContent{
        transform: translate(-300px,0);
    }
    .lightgray{
        padding:0 30px 78px;
    }
    .padding-big{
        padding: 0 30px;
    }
    .padding-small{
        padding:0;
    }
    #news{
        height:100%;
        padding-bottom:0;
        margin-bottom:48px;
    }
    #newsDash{
        border-bottom:1px solid #DEDEDE;
    }
    #newsdiv{
        width:100%;
    }
    #newsText{
        height: 230px;
    }
    #newsText span{
        display:block;
        width:100%;
    }
    #newsText img{
        display:none;
    }
    #newsImages{
        display:none;
    }
    #bigRed{
        line-height: 100%;
        font-size:57px;
    }
    #slider{
        padding:0;
    }
    #mainHeading{
        padding-top:25px;
    }
    #mainHeading h3{
        font-size:25px;
        letter-spacing: 3px;
    }
    #mainImage{
        height:478px;
        margin-top: 0;
    }
    #mainText{
        font-size:23px;
        text-align: justify;
    }
    #mainText br{
        display:none;
    }
    #contactInfo p{
        padding:15px 0;
    }
    .showMobile{
        display:block;
    }
    #main:after{
        content: "";
        display: table;
        clear: both;
    }
    #map{
        margin: 40px 0 0;
    }
    #serviceDisplays{
        position: static;
        margin-bottom:44px;
    }
    .serviceText {
        box-sizing: border-box;
    }
    .displays{
        display: block;
        position: relative;
        width: 100%;
        height: 180px;
        padding: 15px 0;
        box-sizing: border-box;
        border-bottom:1px solid #D4D4D5;
    }
    .displays img{
        height:147px;
    }
    .displays:first-child{
        border-top:1px solid #D4D4D5;
    }
    .gray{
        float:left;
        width:200px;
        height: 147px;
    }
    .serviceText{
        float:left;
        padding-left: 35px;
        padding-top: -5px;
        text-align: left;
        width:50%;
    }
    #service p{
        padding-bottom:50px;
    }
    .displays:after{
        content: "";
        display: table;
        clear: both;
    }
    #partner{
        margin-bottom:50px;
    }
    #partnerImage{
        width: 100%;

    }
    #partnerText{
        width:100%;
        padding-top:135px;
    }
    #partnerTextPlace{
        padding-left: 30px;
        padding-top:30px;
	padding-bottom:40px;
        margin:0 auto ;
        width:85%;
        border-bottom:1px solid #D4D4D5;
        background: rgba(255,255,255,0.8);
        float:none;
    }
    #partnerTextPlace p{
    	width:60%;
	line-height:205%;
	margin:8px 0;
    }
    #partnerHeader{
        margin:0;
    }
    #bigContact{
        padding:100px 30px 80px;
    }
    #mobileCall{
        display:inline;
    }
    #textNumber{
        display:none;
    }
    #footer{
        text-align: center;
    }
    #companyName{
        display:none;
    }
    #copyright{
        font-size:16px;
        float:none;
    }
}

@media only screen and (max-width: 601px){
    .at600{
        display:block;
    }
    #service h2{
        padding-top:47px;
    }
}

@media only screen and (max-width: 565px){
    #bigContact{
        padding:120px 30px 80px;
    }
}


@media only screen and (max-width: 552px){
    #bigContact{
        padding:140px 30px 80px;
    }
}

@media only screen and (max-width: 550px){
    body{
        overflow-x:hidden;
    }
    #bigContact{
        padding:100px 30px 80px;
    }
    #mainImage{
        height: 300px;
    }

    .displays{
        padding:20px 30px 0 !important;
        height:340px;
    }
    .gray{
        margin:0 auto;
        max-width:500px;
        width:100%;
        height: 200px !important;
    }
    .gray img{
        margin-left:3%;
        width:100%;
        height: 200px;
    }
    .serviceText{
        margin-left:3%;
        padding:0;
        width:100%;
        text-align: center;
    }
}
@media only screen and (max-width: 450px){
    #bigRed{
        font-size:51px;
    }
    .displays {
        padding: 20px 0 0 !important;
        height: 340px;
    }
    .gray img{
        margin:0 !important;
    }
    #mobileCall{
        display: block;
        font-size:33px;
    }
    #bigContact{
        padding:160px 30px 80px;
    }
}
@media only screen and (max-width: 445px){
    .displays{
        height: 355px;
    }
}
@media only screen and (max-width: 420px){
    #logo{
        width:65%;
        min-width: 0;
    }
    #bigRed{
        font-size:35px;
    }
    #btn{
        width:100%;
        padding:0;
        font-size:19px;
    }
}
@media only screen and (max-width: 425px){
    #partnerHeader h1{
        font-size:22px;
    }
}
@media only screen and (max-width: 420px){
    #bigRed{
        font-size: 29px;
    }
    #partnerHeader img{
        width:12px;
        height:20px;
    }
}
@media only screen and (max-width: 360px){
    #bigContact{
        padding:220px 30px 80px !important;
    }
    #bigRed{
        font-size:26px;
    }
    #bigContact{
        padding-top:160px;
    }
    #partnerText h1{
        font-size:22px;
        display: inline;
    }
    #smallest{
        display:block;
    }
}
@media only screen and (max-width: 330px){
    .hamburger img{
        margin-top:10px;
        width:  25px;
        height: 20px;
    }
    #mainImage{
        height:250px;
    }
    .displays{
        padding-right:0;
        padding-left:0;
        overflow: visible;
    }
    .serviceText{
        font-size:14px !important;
        margin:0 !important;
        box-sizing: content-box;
        width:100% !important;
    }
    .serviceText h4{
        margin-left:-20px;
        overflow:visible;
    }
    #partnerText h1{
        font-size:22px;
        display: inline;
    }
    #copyright{
        font-size:13px;
    }
}

