
#mainImage{
    position: relative;
    margin:90px auto 45px;
    width:100%;
    height:600px;
}
#news{
    height:280px;
    padding-bottom:13px;
    align-content: center;
}
#newsdiv{
    width:65.9%;
}
#redDash{
    width:20px;
    height:5px;
    transform: translate(0,-5px);
}
#newsDash{
    font-size:20px;
    color:black;
    font-weight:bold;
    text-transform: uppercase;
    padding:0;
    margin-top:25px;
    margin-bottom: -10px;
}
#newsText{
    margin-top: 20px;
    font-size:16px;
    width: 100%;
    height: 146px;
    overflow-y: scroll
}
#newsText span{
    width:530px;
    font-weight: bold;
}
#newsText ul{
    margin: 0 50px 0 0;
    list-style-type: none;
}
#newsText ul li{
    margin-left:-40px;
    margin-bottom:13px;
    letter-spacing:-1px;
}
#newsText img{
    display: inline-block;
    width:9px;
    height:14px;
    transform: translate(0,2px);
    margin:0 15px;
}
#newsImages{
    padding-top:20px;
    vertical-align: middle;
    position: relative;
    top:50%;
    transform: translate(0, -55%);
}
.grayRect{
    padding:0;
    width:300px;
    height:70px;
    background-color: dimgray;
    margin-bottom:5px;
}
#news:after{
    content: "";
    display: table;
    clear: both;
}
#main{
    text-align: center;
}
#mainHeading{
    padding-top:35px;
}
#mainHeading h3{
    margin:0 0 7px 0;
    color:#D80C18;
    font-size:17px;
}
#bigRed{
    color:#D80C18;
    font-size:37px;
    margin-bottom:0;
}
#mainText{
    color:black;
    font-size: 16px;
    font-weight: 500;
    margin:0;
    border-bottom :1px solid #D4D4D5;
    padding-top:25px;
    padding-bottom:23px;
    text-align: center;
}
#mainText p{
    margin:0;
    line-height: 1.8;
}
.showMobile{
    display:none;
}
#contactInfo p{
    color:black;
    font-weight: 500;
    font-size: 16px;
    margin:0;
    padding:20px 0;
    border-bottom :1px solid #D4D4D5;
}
.at600{
    display:none;
}
#map {
    margin: 40px 85px 0;
    height: 320px;
    position: relative;
}
#service{
    text-align: center;
}
#service h2{
    color:#D01B26;
    line-height:1;
    margin:0;
    padding:80px 0 0 0 ;
    font-size:37px;
}
#service h4{
    margin:0;
    padding:0;
    color:#D01B26;
    font-size:16px;
}
#service p{
    color:black;
    font-weight:bolder;
    font-size:23px;
    margin:0;
    padding: 30px 0 34px;
}
#serviceDisplays{
    text-align: center;
    margin-bottom:55px;
}
#serviceDisplays:after{
    content: "";
    display: table;
    clear: both;
}
.displays{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    width:23%;
    margin-right:22px;
    padding:0;
    overflow:hidden;
    display: inline-block;
}
.displays:last-child{
    margin:0;
}
.displays h4{
    color:black;
    margin:17px 0 15px;
    font-size:14px;
}
.displays p{
    font-size:15px;
}
.gray{
    max-width:230px;
    height:169px !important;
    /*background-color:gray;*/
    display:inline-block;
}
.gray img{
    width:100%;
    height:100%;
}
#partner{
    position: relative;
    height:350px;
}
#bannerImage {
    background-image: url("../../image/partner.jpg");
    height: 100%;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    position: relative;
}
#partnerImage {
    position: relative;
    top:50%;
    transform: translate(0,-50%);
    width:49%;
}
#partnerText{
    width:100%;
}
#partnerTextPlace{
    vertical-align: middle;
    font-size: 16px;
    color:#D01B26;
    width:49%;
    background-color: rgba(255,255,255,0.8);
    padding:50px 0 85px 30px;
    float:right;
    overflow:hidden;
}
#partnerText p{
    line-height: 100%;
    font-weight:400;
    font-size: 17px;
}
#partnerText p:first-child{
    font-size: 15px;
}
#partnerText h1{
    font-size:37px;
    display: inline;
}
#partnerText img{
    margin-left:20px;
    width:14px;
    height:26px;
    display: inline;
}
#partnerHeader{
    margin-top:35px;
    display: inline-block;
}
#partnerHeader a{
    color:#D01B26;
    text-decoration: none;
}
#partnerHeader:hover{
    cursor:pointer;
}
#partner:after{
    content: "";
    display: table;
    clear: both;
}
#bigContact{
    text-align: center;
    font-weight: bold;
    color:#5D5D5D;
    padding: 63px 150px 80px;
}
#bigContact h1:first-child{
    margin:0;
    padding:0;
    font-size:37px;
}
#bigContact p{
    margin-top:-10px;
    font-size:16px;
    margin-bottom:0;
    padding:0;
}
#redtel{
    margin:0;
    letter-spacing: -1px;
    font-size: 44px;
    color:#D80C18;
}
#redtel a{
    color:#D80C18;
    text-decoration: none;
}
#mobileCall{
    display:none;
}
#sixteen{
    font-size:16px;
}
#twelve{
    font-size:12px;
}
#btn{
    margin-top:15px;
    padding: 0 70px;
    outline:none;
    border:none;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:24px;
    background-color: #D80C18;
    color:white;
    font-size:20px;
    font-weight:600;
    height:47px;
    max-width:362px;
}
#btn:active{
    border:none;
    outline:none;
}
#btn:hover{
    cursor:pointer;
}
#smallest{
    display:none;
}